%div.menu_bar_bak#menu_bar_bak_2.cf
  %div.menu_bar
    = link_to(:learn) do
      %div.menu_bar_1-menu_bar_1
    = link_to(:review) do
      %div.menu_bar_2-menu_bar_2#menu_bar_2
    = link_to(:exam) do
      %div.menu_bar_3-menu_bar_3
  %div.menu_bar_text
    %div#menu_bar_text_2
