%section.main#static
  %section
    %h1.menu_title.serif
      百/一について
    %p
      百/一[ひゃくいち]は、だいたい1か月くらいで百人一首を覚えるためのサービスです。
    %p
      百/一は「スペースド・リハーサル法」という考え方をベースにしていて、1日3首ずつ新しい歌をおぼえ、
      それを1日後、3日後、7日後と間隔を空けて復習することで、記憶の定着を容易にします。
    %p
      百/一には「守」「破」「離」の3つのメニューがあり、それぞれ新しい歌の学習、おぼえた歌の復習、100首の確認テストに対応します。
    %p
      基本は、毎日「守」であたらしい歌を3首ずつおぼえていきます。さぼらずに毎日やればだいたい1か月くらいで100首クリアです。
      また過去にまなんだ歌のうちおぼえてから1・3・7日後のものがあれば、「破」で自動的にリストアップされるので復習しておきましょう。
      自分の力を試してみたいときには、「離」で100首テストに挑戦してみてください。

  %section
    %h1.menu_title.serif
      スペースド・リハーサル法について
    %p
      スペースド・リハーサル法とは、復習の間隔を徐々に広げていくことで記憶の定着率を改善するやり方のことです。
    %p
      %blockquote
        一度に覚えるのと、分けて覚えるのでは、分けて覚えるほうが効果が高く、しかも長く続く。
        これは、単純な暗唱ものから文章理解から技能習得に至るまで、あらゆるジャンルとコンテンツとシチュエーションで確認されている。
        そして同じく学習を分散するにしても、その間隔を次第に広げる方が効果があることが知られている。
        %p
          読書猿Classic「
          %a(href="http://readingmonkey.blog45.fc2.com/blog-entry-499.html")
            復習のタイミングを変えるだけで記憶の定着度は４倍になる
          」
    %p
      スペースド・リハーサル法について、また他の記憶術について興味がある方はぜひ読書猿さんの記事をご覧ください。
      その他の記事も非常におすすめです。

  %section
    %h1.menu_title.serif
      百人一首について
    %p
      1日3首ずつまじめに毎日勉強したら、1か月くらいで100首すべておぼえることができます（たぶん）。<br>
      でもそれだけじゃ物足りないっていう人は、競技かるたとかに手をだすといいかもしれません。
    %p
      とりあえず熱血かるたマンガ「ちはやふる」に目を通すことをおすすめします。
      %blockquote
        %a(href="http://www.amazon.co.jp/gp/product/4063192393/ref=as_li_ss_il?ie=UTF8&camp=247&creative=7399&creativeASIN=4063192393&linkCode=as2&tag=bookmentoring-22" target="_blank")
          %p
            %image(border="0" src="http://ws.assoc-amazon.jp/widgets/q?_encoding=UTF8&ASIN=4063192393&Format=_SL110_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=bookmentoring-22")
          末次由紀「ちはやふる 1～既刊19巻」
    %p
      1つ1つの歌がそれほど取り上げられてるわけじゃないですが、参考になるかもしれません。<br>
      ていうかふつうにおもしろいです。ぜひどうぞ。

