%section.main
  %section
    %h1.menu_title
      百/一について
    %p
      百/一[ひゃくいち]は、だいたい1か月くらいで百人一首を覚えるためのサービスです。
      百/一は「スペースド・リハーサル法」という考え方をベースにしていて、1日3首ずつ新しい歌をおぼえ、
      それを1日後、3日後、7日後と間隔を空けて復習することで、記憶の定着を容易にします。

      百/一には「守」「破」「離」の3つのメニューがあり、それぞれ新しい歌の学習、おぼえた歌の復習、100首の確認テストに対応します。

      基本は、毎日「守」であたらしい歌を3首ずつおぼえていきます。さぼらずに毎日やればだいたい1か月くらいで100首クリアです。
      また過去にまなんだ歌のうち、おぼえてから1・3・7日後のものがあれば自動的にリストアップされるので、「破」で復習します。
      100首おぼえたあと、また途中でも自分の力を試してみたいときには、「破」で100首テストに挑戦してみてください。

  %section
    %h1
      スペースド・リハーサル法について
    %p
      スペースド・リハーサル法とは、復習の間隔を徐々に広げていくことで記憶の定着率を改善するやり方のことです。

      %blockquote
        一度に覚えるのと、分けて覚えるのでは、分けて覚えるほうが効果が高く、しかも長く続く。
        これは、単純な暗唱ものから文章理解から技能習得に至るまで、あらゆるジャンルとコンテンツとシチュエーションで確認されている。
        そして同じく学習を分散するにしても、その間隔を次第に広げる方が効果があることが知られている。
      (出典：読書猿Classic)

      スペースド・リハーサル法について、また他の記憶術について興味がある方は以下のすばらしいリンクをご参照ください。

      読書猿Classic「
      %a(href="http://readingmonkey.blog45.fc2.com/blog-entry-499.html")
        復習のタイミングを変えるだけで記憶の定着度は４倍になる
      」

      その他の記事も非常におすすめです。

  %section
    %h1
      さらに百人一首をきわめるために
    %p
      まじめに毎日勉強したら、1か月くらいで100首すべておぼえることができます（たぶん）。
      でも百人一首はそこで終わりではありません。

      100首ぜんぶ覚えるくらい百人一首に興味をもった人は、ぜひ競技かるたにも手を出してみましょう。
      とりあえず熱血かるたマンガ「ちはやふる」に目を通すことをおすすめします。

      末次由紀「ちはやふる 1～既刊19巻」

      1つ1つの歌がそれほど取り上げられるわけじゃないですが、100首がぐっと身近になるかもしれません。
      ていうかふつうにおもしろいです。ぜひどうぞ。

