%section.main
  %section
    %h1.menu_title
      Credit
    %p
      このサービスは、いろんな人の成果・制作物を利用したおかげで作ることができました。
      感謝の気持ちをこめて、著作権を放棄されているものも含めて可能な限りここで掲載します。
  %section
    %p
      %a(href="http://free-texture.net/")
        フリーテクスチャ素材館
      \:和紙のテクスチャを利用させていただきました。きれいな素材が多くて、かなり多用させてもらっています。
    %p
      %a(href="http://hibana.rgr.jp/")
        ヒバナ
      \:こちらも和紙のテクスチャを。色のバリエーションが多くて助かりました。
    %p
      %a(href="http://shishi2011.deviantart.com/")
        Shishi2011(@DebianArt)
      \:千代紙の素材に一目ぼれして使わせていただきました。
    %p
      %a(href="http://ukigumo.s68.xrea.com/")
        浮雲工房
      \:どうしても畳を使いたくなったときに見つけました。大変助かりました。
    %p
      %a(href="http://crest-japan.net/")
        CrestJapan
      \:家紋リンク集。見出しに家紋とか入れたくなったときにお世話になりました。

