.wrapper.upper
  .box
  .box
  .box
.wrapper
  .box.left
  %a{:href => :learn}
    .box#menu_1
  %a{:href => :review}
    .box#menu_2
  %a{:href => :exam}
    .box#menu_3
  .box.right
.clear
.wrapper.second
  .box.left
  .box.pic
  .box.pic
  .box.pic
  .box.right
.clear
.wrapper.lower
  .box
  .box
  .box
