.wrapper.upper
  .box
  .box
  .box
.wrapper
  .box.left
  %a{:href => :learn}
    .box.menu#menu_1
  .box.menu_info#menu_info_1
    %div
      %p
        本日の学習状況
      %p
        残り：<em>#{@learn_num_left}</em>/3歌
      %br
      %p
        - if @learn_num_left
          がんばりましょう。
        - else
          今日の学習は終了です。<br>おつかれさまでした。

  %a{:href => :review}
    .box.menu#menu_2
  .box.menu_info#menu_info_2
    %div
      %p
        本日復習する歌
      %p
        <em>#{@review_num}</em>歌
      %br
      %p
        - if @review_num
          復習は何回でもできます。<br>がんばりましょう。
        - else
          今日はないみたいですね。<br>おつかれさまです。

  %a{:href => :exam}
    .box.menu#menu_3
  .box.menu_info#menu_info_3
    %div
      %p
        がんばりましょう。

  .box.right
.clear
.wrapper.second
  .box.left
  .box.pic
  .box.pic
  .box.pic
  .box.right
.clear
.wrapper.lower
  .box
  .box
  .box
