%div#top_bg
  %section#top_info
    %h1
      = link_to image_tag("logo_w.png", :alt => "百/一[ひゃくいち] | 百人一首をだいたい1ヶ月くらいでおぼえるためのサービス", :id => "top_logo"), :root
    %p#top_msg
      「百/一」は、うまいこと設計された学習スケジュールによって、
      だいたい1ヶ月くらいで百人一首をおぼえることができるといわれているサービスです。
    %div.top_login.cf
      = link_to image_tag("without_login.png", :class => "fb_login"), :root
      = link_to image_tag("fb_login.png", :class => "fb_login"), auth_at_provider_path(:provider => :facebook)
      %p
        %small
          (ログイン時に勝手につぶやいたりしません)

