%div#top_bg
  %div#top_info
    = image_tag('logo_w.png')
    %p#top_msg
      「百/一」は、だいたい一ヶ月くらいで<br>
      百人一首をおぼえるためのサービスです。
    = image_tag("fb_login.jpg", :id => "fb_login")
    %div
      %small
        ※ログイン時に勝手につぶやいたりしません。

