%section.menu_bar_bak#menu_bar_bak_1.cf
  %nav.menu_bar
    = link_to(:learn) do
      %div.menu_bar_1-menu_bar_1#menu_bar_1
        %h1 百人一首のあたらしい歌をおぼえる
    = link_to(:review_index) do
      %div.menu_bar_2-menu_bar_2
    = link_to(:exam_index) do
      %div.menu_bar_3-menu_bar_3
  %div.menu_bar_text
    %div#menu_bar_text_1
