%div(id="next_song" class="songs")
  %section.main
    %h1.menu_title.serif
      あたらしい歌をおぼえる
    #finish
      %p
        今日おぼえる歌はすべて終了しました。<br>
        「破」で復習する歌がないか確認してみましょう。
      = link_to( "ホームへ戻る", :root, :class => "btn" )
