%div(id="next_song" class="songs")
  %section.main
    %h1.menu_title.serif
      100首まとめてテストする
    #finish
      %p.result.serif
        採点結果
      %p.score.serif
        <em>#{@score}</em>/100
      %p
        おつかれさまでした。<br>
      = link_to( "ホームへ戻る", :root, :class => "btn" )

