/*****************************************************************
* SETTING
*****************************************************************/
@import "compass";
@import "like/like*.png";
@include all-like-sprites;
@import "menu_bar_1/menu_bar*.png";
@include all-menu_bar_1-sprites;
@import "menu_bar_2/menu_bar*.png";
@include all-menu_bar_2-sprites;
@import "menu_bar_3/menu_bar*.png";
@include all-menu_bar_3-sprites;

$color-red : #B54434;
$color-blue : #005CAF;


/*****************************************************************
* COMMON
*****************************************************************/
body {
	font: 80%/19px Helvetica, Arial, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif !important;
	letter-spacing: 0.1em !important;
  color: #333;
}

/* Clear Fix */
.cf:before {
  content:"";
  display:block;
  overflow:hidden;
}
.cf:after {
  @extend .cf:before;
  clear:both;
}

#finish {
  margin-bottom: 300px;
  width: 84%;
  p {
    margin-bottom: 20px;
  }
}

.serif {
  font-family:"ヒラギノ明朝 Pro W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
  @include text-shadow(#bbb 0 0 1px);
}

.headline {
  padding-bottom: 12px;
  font-size: 16px;
  color: #333;
  @include text-shadow(#bbb 0 0 1px);

  &:before {
    content:"";
    @include inline-block;
    position: relative;
    background-image: url("/assets/kuginuki.png");
    height: 20px;
    width: 20px;
    top: -3px;
    margin-right: 5px;
  }
}

em {
  font-size: larger;
  font-weight: bold;
  color: $color-red;
}

.link {
  margin-bottom: 30px;
}

.normal_container {
  width: 84%;
}

.warning {
  color: $color-red;
}

.clickable {
  cursor: pointer;
}

/*****************************************************************
* HEADER
*****************************************************************/
header {
	width: 100%;
  height: 65px;
	background: url("/assets/menu_bg.png");
	position: fixed;
	z-index: 5;

  &:after {
    content:"";
    display: block;
    position: absolute;
    background: url("/assets/sakura/sakura_red.jpg");
    top: 65px;
    width: 100%;
    height: 5px;
    z-index: 2;
	  @include box-shadow(gray 0 1px 3px);
  }
}

#head_logo {
  margin: 5px 2%;
  float: left;
  img {
    height: 50px;
    width: 80px;
  }
}

#head_login {
  width: 80%;
}

header {
  ul {
    float: right;
    margin-right: 2%;
  }
  li {
    float: left;
    line-height: 65px;
    margin: 0 7px;
  }

  a, a:visited {
    color: #EEE;
    text-decoration: none;
    margin: 0 5px;
  }
  a:hover {
    color: $color-red;
  }
}

.fb_edge_widget_with_comment span.fb_edge_comment_widget {
    display: none !important;
}

.fb-like {
  margin: 3px 10px 0 10px;
  z-index: 5;
  position: relative;
}


/*****************************************************************
* LAYOUT
*****************************************************************/
#container {
	width: 100%;
	position: relative;
	top: 65px;
}

#main {
	background-image: url("/assets/body_bg.png");
	width: 75%;
	position: relative;
	overflow: hidden;
	float: left;
}

section.main {
  margin-left: 5%;
  margin-right: 10%;
}

/*****************************************************************
* SUB
*****************************************************************/
#sub {
	float: left;
	width: 25%;
	background-image: url("/assets/sub_bg.png");
  position: relative;
	z-index: 0;
  padding: 0 2.5%;
  @include box-sizing(border-box);
	@include box-shadow(rgba(gray, 0.7) -1px 0 3px);

  small {
    font-size: 10px;
  }
}


.sub-box {
  margin: 15px 0;
  &:last-child {
    margin-top: 50px;
  }

  &:first-child {
    margin-top: 50px;
  }
}

.profile {
  img {
    width: 30%;
    border: 5px solid #000;
    margin-right: 3%;
    float: left;

    @include box-sizing(border-box);
  }
  div {
    float: left;
    width: 67%;
  }
}


#name {
  font-size: larger;
  margin-bottom: 5px;
}

.degree {
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  line-height: 60px;
  background-image: url("/assets/roll.png");
  @include background-size(contain);
  background-repeat: no-repeat;
  padding-left: 20px;
}

.status {
  line-height: 25px;

  li:before {
    content:"";
    @include inline-block;
    position: relative;
    background-image: url("/assets/kuginuki.png");
    @include background-size(contain);
    height: 15px;
    width: 15px;
    top: -1px;
    margin-right: 2px;
  }

  em {
    font-family:"ヒラギノ明朝 Pro W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
    @include text-shadow(#bbb 0 0 1px);
    font-size: 24px;
    font-weight: bold;
  }
}


/*****************************************************************
* FOOTER
*****************************************************************/
footer {
	position: relative;
	top: 65px;
	width: 100%;
	background-image: url("/assets/menu_bg.png");
	color: #AAA;

  &:before{
    content:"";
    display: block;
    position: absolute;
    background-image: url("/assets/sakura/sakura_red.jpg");
    top: -5px;
    width: 100%;
    height: 5px;
    z-index: 2;
	  @include box-shadow(gray 0 1px 3px);
  }
}

#footer {
  padding: 15px 2%;
}

.footer_box {
  width: 28%;
  margin: 15px 2%;
  float: left;
}

#fakebox {
  width: 100%;
}

footer {
  a, a:visited {
	  color: #EEE;
  }
  h2 {
    color: #FFF;
    border-bottom: 1px solid #CCC;
    margin-bottom: 10px;
  }
}

#creator {
  width: 20%;
  margin: 0 5% 5% 0;
  img{
    width: 100%;
    border: 5px solid #000;
    @include box-sizing(border-box);
  }
  p  {
    font-size: smaller;
    margin: -5px 0 15px 0;
  }
}


#copyright {
  text-align: center;
}

#like_button {
  width: 25%;
  position: absolute;
  cursor: pointer;
  left: 15%;
  top: 22%;
}

#supported_by {
  position: relative;
}

.like-like {
  width: 92px;
  height: 24px;
  position: absolute;
  left: 15%;
  top: 22%;
}


/*****************************************************************
* TOP
*****************************************************************/
#top_bg {
  width: 100%;
  background-image: url("/assets/top_bg.jpg");
  @include background-size(contain);
}

#top_info {
  width: 32%;
  float: right;
  margin: 7% 7% 0 0;
  background: rgba(0,0,0,0.8);
  @include border-radius(10px);
  text-align: center;
  color: #DDD;

  div {
    margin-bottom: 30px;
  }
  small {
    font-size: 10px;
  }
}

#top_logo {
  width: 60%;
  margin: 10% 0 3% 0;
}

#top_msg {
  margin: 10px 30px;
  font-size: 13px;
  line-height: 30px;
}

.fb_login {
  @include box-shadow(rgba(0,0,0,0.1) 1px 1px 2px);
  &:hover {
    @include opacity(0.9);
  }
}

.top_login {
  margin: 30px 0 50px 0;
  img {
    width: 50%;
    margin: 10px 0;
  }
}


/*****************************************************************
* LEARN
*****************************************************************/
#song_info {
  margin-bottom: 20px;
}

.kana {
  font-size: 12px;
  margin: 10px 0;
}

#exp {
  margin-bottom: 30px;
}

.exp_content {
  width: 47%;
  margin: 15px 0;
  float: left;
  &:first-child {
    margin-right: 6%;
  }
}

#poet_info {
  img, div {
    float: left;
  }
  img {
    width: 20%;
    border: 7px solid #333;
    margin-right: 3%;

    @include box-sizing(border-box);
  }
  div {
    width: 77%;
  }
}

#poet_name {
  font-size: 16px;
  margin: 5px;
}

.menu_title {
  line-height: 30px;
  font-size: 22px;
  margin-bottom: 25px;
  background: url("/assets/line.gif") repeat-x bottom left;
  color: #333;
  @include text-shadow(#bbb 0 0 1px);

  &:before {
    content:"";
    @include inline-block;
    position: relative;
    background-image: url("/assets/manji.png");
    height: 30px;
    width: 30px;
    top: -2px;
  }
}

.w_84 {
  width: 84%;
}

.subtitle {
  font-size: 18px;
  margin-bottom: 8px;

  small {
    font-size: 14px;
  }
}

.cards {
  float: left;
  width: 23%;
  border: 7px solid #333;
  margin-right: 3%;
  @include box-sizing(border-box);
}

.char_card {
  float: left;
  width: 23%;
  height: 230px;
  background: #EEE;
  border: 7px solid #333;
  margin-right: 3%;
  overflow: hidden;
  @include box-sizing(border-box);

  p {
    font-size: 20px;
    line-height: 1.2em;
  }
  div {
    margin: 2%;
  }
}


#first-half, #second-half {
  margin: 0;
}

.btn {
  // line-height: 30px;
  padding: 12px 50px;
  font-size: 16px;
  @include text-shadow(#000 1px 1px 1px);
  @include inline-block;
  text-align: center;
  @include background-image(linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,1)));
  background-size: auto 2px;
  border: 5px solid #333;

  color: #EFEFEF;
  text-decoration: none;

  &:hover {
    @include opacity(0.9);
  }
}

.finished_songs {
  margin-bottom: 20px;
}


/*****************************************************************
* REVIEW
*****************************************************************/
#review_index {
  margin-bottom: 50px;
  p {
    margin: 10px 0;
  }
  em {
    font-size: 20px;
  }
}

#review_contents {
  margin: 30px 0 100px 0;
  img {
    width: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.review_content {
  float: left;
  width: 30%;
  margin-right: 3%;
}

.review_empty {
  margin: 20px 0;
  padding-left: 10px;
  font-size: 14px;
}

#review_start_btn {
  margin-top: 10px;
}

#question {
  margin-bottom: 40px;
}

#answer {
  margin: 0 0 40px 0;
  background-image: url("/assets/tatami.jpg");
  @include background-size(contain);
  a {
    color: #333;
  }
  .char_card {
    width: 17%;
    margin: 30px 1.5%;
  }
  .char_card:hover {
    border: 7px solid $color-red;
    cursor: pointer;
  }
}

#second-half {
  color: $color-red;
  display: none;
}

#result {
  float: left;
  height: 100%;
  width: 48%;
  text-align: center;
  p {
    font-size: 80px;
    line-height: 80px;
    margin: 50px 0 30px 0;
    display: none;
  }
}

.success {
  color: $color-red;
}
.failure {
  color: $color-blue;
}

.hidden {
  display: none;
}


/*****************************************************************
* EXAM
*****************************************************************/
.result {
  font-size: 20px;
  line-height: 20px;
}

.score {
  font-size: 100px;
  line-height: 100px;
}

#quit_btn {
  margin-bottom: 50px;
}


/*****************************************************************
* Static
*****************************************************************/
#static {
  margin: 0 10% 0 5%;
  section {
    margin-bottom: 50px;
  }
  p {
    margin: 10px 0;
  }
}

blockquote {
  padding: 10px;
  font-style: italic;
  background: #DDD;
  p {
    margin: 10px;
  }
}

/*****************************************************************
* About
*****************************************************************/
.qa_img {
  width: 8%;
  float: left;
  margin: 0 2% 5px 0;
  img {
    width: 100%;
    border: 4px solid #000;
    @include box-sizing(border-box);
  }
}

.qa_box {
  margin-bottom: 45px;

  p {
    @extend .arrow_box;
    width: 86%;
    float: left;
    min-height: 50px;
    padding: 1%;
    margin-bottom: 10px;
  }
}


/*****************************************************************
* Songs
*****************************************************************/
#songs	{
	border-collapse: collapse;	border-spacing: 0;
	width: 100%;
	margin-bottom: 30px;
  th, td	{
    padding: 10px 20px;
    vertical-align: middle;
    border-bottom: 1px solid #FFF;
  }
  th	{
    background: #555;
    color: #EEE;
    border-top: 2px solid #333;
    text-align: left;
  }
  td	{
    background: #DDD;
    color: #333;
  }

  tr {
    &:nth-child(even) {
      td {
        background: #EEE;
      }
    }
    &:hover {
      td {
        background: $color-red;
        color: #EEE;
      }
    }
    &:last-child {
      td {
        border-bottom: none;
      }
    }
    &.not-yet {
      td {
        color: #555;
      }
      &:hover td {
        background: #555;
        color: #EEE;
      }
    }
  }
}


/*****************************************************************
* Menu Bar
*****************************************************************/
.menu_bar_bak {
  background-repeat: repeat-x;
  height: 80px;
  width: 100%;
  position: relative;
  margin: 40px 0 50px 0;
}
#menu_bar_bak_1 {
  background: url("/assets/sakura/sakura_blue.jpg");
}
#menu_bar_bak_2 {
  background: url("/assets/sakura/sakura_red.jpg");
}
#menu_bar_bak_3 {
  background: url("/assets/sakura/sakura_green.jpg");
}
#menu_bar_bak_other {
  background: url("/assets/sakura/sakura_black.jpg");
}

.menu_bar {
  div {
    top: -5px;
    position: absolute;
    z-index: 1;
    width: 74px;
    height: 90px;
  }
  #menu_bar_1 {
    background: url("/assets/menu_bar_1/menu_bar_1_hover.png");
  }
  #menu_bar_2 {
    background: url("/assets/menu_bar_2/menu_bar_2_hover.png");
  }
  #menu_bar_3 {
    background: url("/assets/menu_bar_3/menu_bar_3_hover.png");
  }
  #menu_bar_4 {
    background: url("/assets/menu_bar_4.png");
    left: 50px;
  }
  #menu_bar_5 {
    background: url("/assets/menu_bar_5.png");
    left: 50px;
  }
}


.menu_bar_1-menu_bar_1 {
  left: 50px;
}
.menu_bar_2-menu_bar_2 {
  left: 125px;
}
.menu_bar_3-menu_bar_3 {
  left: 200px;
}

.menu_bar_text div {
  top: -5px;
  position: absolute;
  z-index: 0;
  height: 90px;
  width: 380px;
  left: 50px;
}
#menu_bar_text_1 {
  background: url("/assets/menu_bar_text/menu_bar_text_1.png");
}
#menu_bar_text_2 {
  background: url("/assets/menu_bar_text/menu_bar_text_2.png");
}
#menu_bar_text_3 {
  background: url("/assets/menu_bar_text/menu_bar_text_3.png");
}
#menu_bar_text_4 {
  background: url("/assets/menu_bar_text/menu_bar_text_4.png");
  width: 230px;
}
#menu_bar_text_5 {
  background: url("/assets/menu_bar_text/menu_bar_text_5.png");
  width: 230px;
}



/*****************************************************************
* Index(Homepage)
*****************************************************************/
.index_column {
  width: 120%;
  overflow: hidden;
  position: relative;
  left: -12%;
  top: -20%;
  &:nth-child(odd) .index_box:nth-child(odd), &:nth-child(even) .index_box:nth-child(even){
    background: #111;
  }
}

.index_box {
  width: 20%;
  float: left;
  border: 4px solid #111;
  @include box-sizing(border-box);
}

#menu_1 {
  background: url("/assets/sakura/sakura_blue.jpg");
}
#menu_2 {
  background: url("/assets/sakura/sakura_red.jpg");
}
#menu_3 {
  background: url("/assets/sakura/sakura_green.jpg");
}

#index_container {
  overflow:hidden;
  position: relative;
}

#menu_1, #menu_2, #menu_3 {
  position: relative;
  overflow: hidden;
  width: 19.9%;

  &:hover {
    & img {
      bottom: 0;
    }
  }
  img {
    width: 100%;
    position: absolute;
    bottom: -60%;
    @include transition(bottom 0.3s ease-out 0);
  }
}

.menu_bar h1 {
  display: none;
}


/*****************************************************************
* Learn Help
*****************************************************************/
.step_box {
  margin-bottom: 40px;
  small {
    font-size: 10px;
  }
}

#step_exp {
  margin-bottom: 30px;
}
#step_warning {
  margin-top: 10px;
  font-size: 12px;
  border: 4px double $color-red;
  padding: 1%;
}

#preview_field img {
  width: 95%;
  border: 7px solid #333;
  @include box-sizing(border-box);
}
#picture_box {
  margin-top: 15px;
  div {
    width: 50%;
    float: left;
  }
  h3 {
    margin-top: 10px;
  }
}

#midokoro_box {
  margin-top: 15px;
}

#midokoro_content {
  font-size: 14px;
  border: none;
  width: 100%;
  min-height: 40px;
  background: #EFEFEF;
}

#typing {
  margin-top: 22px;
  font-size: 16px;
  color: $color-red;
}

#typing_text {
  margin-top: 7px;
  height: 20px;
  width: 70%;
  color: #555;
}

#typing_answer {
  display: inline-block;
  background: #333;
  color: #333;
  position: relative;
  left: 3px;
  &:hover {
    background: none;
    color: $color-red;
  }
}

.arrow_box {
	position: relative;
	background: #EFEFEF;
	border: 3px solid #555555;
  @include border-radius(5px);
}
.arrow_box:after, .arrow_box:before {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(153, 153, 153, 0);
	border-right-color: #EFEFEF;
	border-width: 4px;
	top: 30%;
	margin-top: -4px;
}
.arrow_box:before {
	border-color: rgba(85, 85, 85, 0);
	border-right-color: #555555;
	border-width: 8px;
	top: 30%;
	margin-top: -8px;
}

