#footer_info
  .fb-like(data-href="http://booklovesmusic.com" data-send="false" data-width="450" data-show-faces="true" data-font="lucida grande" data-colorscheme="dark")
  %p
    Copyright 2013
    All Rights Reserved.
    Produced by
    %a(href="https://twitter.com/#!/kame_f_no7" target="_blank")
      @kame_f_no7
#fakebox
  = image_tag("fakebox.png")
%div.clear
