%h1#head_logo
  = link_to image_tag("logo_w.png", :alt => "百/一[ひゃくいち]"), :root
%ul
  %li
    = link_to 'このサイトについて', :about
  -# %li
  -#   = link_to 'クレジット', :credit
  - if current_user
    %li
      = link_to 'Logout', logout_path
  %li
    .fb-like(data-href="http://hyaku-1.eure-ka.me/" data-send="false" data-layout="button_count" data-width="50" data-show-faces="false" data-font="lucida grande")
