%title 百/一[ひゃくいち] | 百人一首をだいたい1か月くらいでおぼえるサービス
%meta(charset="utf-8")
%meta(property="fb:admins" content="501633065")
%meta(property="fb:app_id" content="326071844176374")
%meta(property="og:title" content="百/一[ひゃくいち]")
%meta(property="og:type" content="website")
%meta(property="og:url" content="http://hyaku-1.eure-ka.me/top/")
%meta(property="og:image" content="http://hyaku-1.eure-ka.me/assets/og_image.jpg")
%meta(property="og:site_name" content="百/一[ひゃくいち]")
%meta(property="og:description" content="百/一は、だいたい1か月くらいで百人一首をおぼえるためのサービスです。")
%meta(name="description" content="百/一は、だいたい1か月くらいで百人一首をおぼえるためのサービスです。")
%meta(name="keywords" content="百人一首,覚える,ゲーム,訳,歌")
= stylesheet_link_tag  "application"
= javascript_include_tag "application"
= csrf_meta_tags
