<!--MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMM MMMMM7MMMMMMMMMMMM?MMMMM.MMMMM.MMMMM MMMMM:MMMMMMMMMMMMMMMMMM:MMMMM.MMMMMM
MMMM  .MMM+. MMMN. DMMM..=MMM.  MMM   MMM  .MMM, ,MMMZ. NMMM .$MMM  ,MMM. .MMMMM
MMMMO                                                                    .=MMMMM
MMMMM,                                                                   .MMMMMM
MMMMMM                                                                   MMMMMMM
MMMMMD                                                                   ~MMMMMM
MMMMM      MM .MM  MM MMMMMM NMM     MMMMM  8MMMMM +MMM. MMMM MMMMMM~    .MMMMMM
MMMM       MM..MM $MM MMMMMM NMM    MMMMMMM MMMMMM +MMMO.MMMM MMMMMM~      MMMMM
MMMMM.     MM,MMM.MMM MM.    NMM    MM? $MM MM  MM +MMMM:MMMM MM.         MMMMMM
MMMMMM     MMMMMM$MM, MMMMM. NMM    MM      MM  MM +MMMMMM$MM MMMMM.     DMMMMMM
MMMMMM     ~MMMMMMMM  MMMMM. NMM    MM      MM  MM +MMMMMMZMM MMMMM.     8MMMMMM
MMMMM       MMMMMMMM  MM.    NMM    MM= OMM MM  MM +MM.MM+$MM MM.        .MMMMMM
MMMM.       MMM MMMM  MMMMMM NMMMMM.MMMMMMM MMMMMM +MM MM $MM MMMMMM:     .MMMMM
MMMMM       MMM ,MM7  MMMMMM NMMMMMO MMMMM  8MMMMM +MM MM $MM MMMMMM~     MMMMMM
MMMMM8                                                                   ~MMMMMM
MMMMMM                        ~ ENJOY YOUR STAY ~                        MMMMMMM
MMMMM,                                                                   .MMMMMM
MMMM8.                                                                   .=MMMMM
MMMM. .MMM+..MMMN. DMMM. =MMM . MMM...MMM  .MMM, .MMMZ. NMMM. $MMM...MMM ..MMMMM
MMMMM.MMMMM7MMMMMMMMMMMM=MMMMM.MMMMM MMMMM.MMMMM:MMMMMMMMMMMMNMMMMM,MMMMM MMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM=-hyaku-1.com-->
